<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <div><%- include ('./partials/nav.ejs') %></div>
      <div>
        <table>
          <% if(rentalsDue.length > 0){ %> <%rentalsDue.forEach((rental)=>{ %>
          <tr>
            <td>Film Title: <%= rental.title %></td>
            <td>
              Rental Date: <%= moment(rental.rental_date).format('DD-MMM-YYYY')
              %>
            </td>
            <td>
              Return Date: <%= moment(rental.return_date).format('DD-MMM-YYYY')
              %>
            </td>
          </tr>
          <% }) %> <% } else { %>
          <br />
          <p>"There are no outstanding rentals"</p>
          <% } %>
        </table>
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
