<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <div><%- include ('./partials/nav.ejs') %></div>
      <div>
        <h1>Hi name here is your rental history for the past 12 months</h1>
        <% if(customer.length > 0){ %> <%customer.forEach((row)=>{ %>
        <span>Film Title: <%= row.title %> </span>
        <span
          >Rental Date: <%= moment(row.rental_date).format('DD-MMM-YYYY') %>
        </span>
        <br />
        <% }) %> <% } %>
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
