<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <div><%- include ('./partials/nav.ejs') %></div>
      <div>
        <% if(customer.length > 0){ %> <%customer.forEach((row)=>{ %>
        <span>Film Title: <%= row.title %> </span>
        <span>Rental Date: <%= row.rental_date %> </span> <br />
        <% }) %> <% } %>
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
