<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <div><%- include ('./partials/nav.ejs') %></div>
      <a href="http://localhost:3000/owner">BACK</a>

      <h1>Lethbridge, Canada</h1>
      <table>
        <th>SQL Video Top 10 Rentals</th>
        <tr>
          <td>Film Title</td>
          <td>Total Rental Return</td>
          <td rowspan="11">
            <img
              src="https://images.unsplash.com/photo-1578924825042-31d14cf13c35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1839&q=80"
              alt="image"
              height="260px"
            />
          </td>
        </tr>

        <% if(top10.length > 0) { %> <% top10.forEach(film => { %>
        <tr>
          <td><%= film.title %></td>
          <td>$<%= film.rental_total %></td>
        </tr>
        <% }) %> <% } %>
      </table>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
