<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <div><%- include ('./partials/nav.ejs') %></div>

      <h1>Lethbridge, Canada</h1>
      <table>
        <th>SQL Video Top 10 Rentals</th>
        <tr>
          <td>Film Title</td>
          <td>Total Rental Return</td>
          <td rowspan="20">
            <img
              src="https://images.unsplash.com/photo-1581905764498-f1b60bae941a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bW92aWUlMjBzdG9yZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"
              alt="image"
              height="240px"
            />
          </td>
        </tr>

        <% if(top10.length > 0) { %> <% top10.forEach(film => { %>
        <tr>
          <td><%= film.title %></td>
          <td>$<%= film.rental_total %></td>
        </tr>
        <% }) %> <% } %>
      </table>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
